<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SOA</title>
  	<link rel='icon' href='../public/images/logo.ico ' type=‘image/x-ico’ /> 
  	<link rel="stylesheet" href="./stylesheets/style.css" media="screen" type="text/css" />
</head>
<body>
	</br></br></br></br>
	<section class="login-form-wrap">
		<h1>SOA</h1>
			<form class="login-form" action="/login" method="post">
				<label><input type="text" name="account" required placeholder="账号"></label>
				<label><input type="password" name="password" required placeholder="密码"></label>
				<input type="submit" value="登录">
			</form>
  		<h5><a href="./register">去注册>></a></h5>
	</section>
</body>
</html>
