<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Facebook</title>
<link rel="stylesheet" href="stylesheets/style.css" media="screen" type="text/css" />
</head>
<body>
	</br></br></br></br>
	<section class="login-form-wrap">
		<h1>Facebook</h1>
			<form class="login-form" action="" method="post">
				<label><input type="email" name="email" required placeholder="手机/邮箱"></label>
				<label><input type="password" name="password" required placeholder="密码"></label>
				<input type="submit" value="登录">
			</form>
  		<h5><a href="register.html">去注册>></a></h5>
	</section>
</body>
</html>
。