<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>Facebook</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='icon' href='./images/logo.ico ' type=‘image/x-ico’ />
	<link href="./stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="./stylesheets/bootstrapDatepickr-1.0.0.css" rel="stylesheet">
	<link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/docs.css" rel="stylesheet">
    <link href="./stylesheets/prettify.css" rel="stylesheet">
	<script src="./js/jquery-1.7.2.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/bootstrapDatepickr-1.0.0.min.js"></script>
	
	<script>
		$(document).ready(function() {
			$("#birthday").bootstrapDatepickr();
		});
	</script>

    <style type="text/css">
		body {
			padding-top: 80px;
			padding-left: 250px;
		}
		.fill{padding-left: 250px;
		}
    </style>

    <script language="javascript"> 
		function change() { 
			document.getElementById("hide").style.display="none"; 
			document.getElementById("login").style.display="block"; 
		} 
	</script> 

</head>

<body>

	<div class="topbar">
		<div class="fill">
			<div class="container">
				<a class="brand" href="#">Facebook</a>
				<form action="" class="pull-right" style="display:none;" id="login">
					<input class="input-small" type="text" placeholder="手机/邮箱">
					<input class="input-small" type="password" placeholder="密码">
					<button class="btn" type="submit">登录</button>
				</form>
				<p style="float:right;" id="hide"><a class="btn primary large" onclick="change()" id='change'>登录 &raquo;</a></p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="hero-unit">

				<div class="page-header">
					<h1>注册</h1>
				</div>

				<h2>永久免费</h2>
				</br></br>
				<div class="row">
					<div class="span12">
						<form id="myform" action="/register" method="post">
							<div class="clearfix" id="usernamediv">
								<label>昵称</label>
								<div class="input">
									<input class="xlarge" id="username" name="nickname" size="30" type="text">
								</div>
							</div><!-- /clearfix -->
		          
							<div class="clearfix" id="phonediv">
								<label>账号</label>
								<div class="input">
									<input class="xlarge" id="phone" name="account" size="30" type="text">
								</div>
							</div><!-- /clearfix -->
		          
							<div class="clearfix" id="passworddiv">
								<label>密码</label>
								<div class="input">
									<input class="xlarge" id="password" name="password" size="30" type="password">
								</div>
							</div><!-- /clearfix -->
				  
				  			<div class="clearfix" style="text-align:center">
								</br></br> </br></br>
								<input type="submit" name="" value="注 册" class="btn large primary" onclick="check()" />
							</div>
						</form>
					</div>
				</div><!-- /row -->

		</div>
	</div> <!-- /container -->
	
	<script type="text/javascript">
	
		function check(){
			var flag = 0;
			var name=document.getElementById('username').value;//用户名
			var phone=document.getElementById('phone').value;//用户名
			var pw=document.getElementById('password').value;//用户名

			if(phone==""){
				document.getElementById( "phonediv" ).className = "clearfix error";
			}
			if(pw==""){
				document.getElementById( "passworddiv" ).className = "clearfix error"; 
			}
		}
		
	</script>
	
</body>
</html>
